.page{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.large-btn{
    width: 550px;
    height: 86px;
    border-radius: 43px;
}

.small-btn{
    width: 250px;
    height: 86px;
    border-radius: 43px;
}

.border-radius-max{
    border-radius: 43px;
}

.border-radius-min{
    border-radius: 12px;
}

.green-btn{
    background-color: #09ba07;
    color: white
}

.orange-btn{
    background-color: orange;
    color: white;
}

.large-text-box{
    width: 550px;
}

.small-text-box{
    width: 250px;
}

.line-text-box{
    border-bottom: 2px solid darkgray;
    height: 86px;
}

.center-text{
    text-align: center;
}

.border-text-box{
    border: 2px solid darkgray;
    height: 86px;
    border-radius: 12px;
}

